.header-links-toggle{
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	right: 10px;
	
	button{
		border: 2px solid $orange;
		border-left: 0px;
		border-right: 0px;
		background-color: transparent;
		cursor: pointer;
		color: $orange;
		padding: 5px 10px;
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 700;
		
		&:hover{
			color: $gray;
			background-color: $orange;
		}
		&:active{
			color: darken($gray, 10%);
			background-color: darken($orange, 10%);
			border-color: darken($orange, 10%);
		}
	}
}