.owl-dots{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);

	.owl-dot{
		display: inline-block;
		width: 11px;
		height: 11px;
		background: $white;
		border-radius: 6px;
		margin: 0 5px;

		&:hover{
			background: $gray;
		}
		
		&.active{
			background: $orange;
		}
	}
}


.owl-nav{
	display: block;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	text-align: right;
	transform: translateY(10px);

	div{
		display: inline-block;
	}

	.owl-next{
		margin-left: 30px;
	}
}

@media screen and (min-width: 767px){
	.owl-dots{
		transform: translate(-50%, -60px);
	}
	.owl-nav{
		transform: translateY(-50px);
	}
}