%transition-all{
	transition: all 0.2s ease-in-out;
}

*{
	box-sizing: border-box;
	outline: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body{
	background-color: $gray-dark;
	font-family: 'Arial', sans-serif;
	margin: 0;
	font-size: 13px;
}

p{
	line-height: 1.4;
}

a{
	text-decoration: none;
	color: $orange;

	&:hover{
		color: $white;
	}
	&:focus, &:active{
		color: $gray;
	}
}

.orange{
	color: $orange;
}

.blue-light{
	color: $blue-light;
}