header{
	background: rgba(0,0,0,.8);
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
}

.header-content{
	@include outer-container;
	position: relative;
	height: 60px;
}

.header-logo{
	display: block;
	transform: translateY(-50%);
	position: absolute;
	top: 50%;
	font-size: 0;
}

.header-links{
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	transform: translateY(60px);
	text-align: center;
	width: 100%;
	z-index: 20;
	overflow: hidden;
	height: 0px;
	@extend %transition-all;
	
	&.dropdown{
		height: 216px;
	}

	>ul{
		list-style: none;
		padding: 0;
		background-color: $gray-dark;
		width: 100%;

		li{
			display: block;
			padding: 10px 20px;

			a{
				font-size: 13px;
				font-weight: 700;
				color: $white;

				&:hover{
					color: $orange;
				}
				&:focus, &:active{
					color: $gray;
				}
			}
		}
	}
}

.header-twitter{
	display: none;
}

@media screen and (min-width: 767px){
	header{
		position: absolute;
	}

	.header-links-toggle{
		display: none;
	}

	.header-links{
		transform: translate(99px, 29px);
		left: 0;
		width: 440px;
		height: auto;

		>ul{
			background-color: transparent;
			margin-bottom: 15px;

			li{
				display: inline-block;
				padding: 0 12px;
			}
		}
	}

	.header-twitter{
		background-color: #464646;
		display: block;
		position: absolute;
		right: 10px;
		bottom: 0;
		height: 40px;
		color: $blue-light;
		line-height: 40px;

		.twitter-icon{
			display: inline-block;
			font-size: 30px;
			padding: 0 20px;

			i{
				margin-right: 10px;
			}
			span{
				font-size: 13px;
				vertical-align: top;
			}
		}
		
		.plus{
			display: inline-block;
			height: 40px;
			width: 40px;
			background-color: $orange;
			font-size: 30px;
			font-weight: 700;
			color: $white;
			text-align: center;
		}
	}
}