//hero slider
.hero{
	z-index: 0;
	position: relative;
}

.slide-image{
	position: relative;
	top: 0;
	left: 0;
}

.slide-text-container{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	.slide-text{
		@include outer-container;
		background-color: rgba(0,0,0,0.8);
		padding: 15px;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
	}

	h1{
		text-transform: uppercase;
		font-size: 23px;
		font-weight: 700;
		max-width: 100%;
	}
	p{
		display: none;
	}
}

#slide-django{
	h1, a{
		color: #d90e0a;
	}
}

#slide-vizio{
	h1, a{
		color: #d90e0a;
	}
}

#slide-escape{
	h1, a{
		color: #f68f1e;
	}
}

#slide-ultra{
	h1, a{
		color: #2162bc;
	}
}

@media screen and (min-width: 480px){
	.slide-text-container{
		p{
			margin-top: 15px;
			display: block;
			color: $gray;
		}
	}
}
@media screen and (min-width: 767px){
	.slide-text-container{
		.slide-text{
			background-color: transparent;
			text-align: left;
			top: 20%;
			transform: translateX(50px);
		}
		h1{
			max-width: 340px;
			font-size: 30px;
		}
		p{
			max-width: 300px;
		}
	}

	#slide-vizio{
		.slide-text{
			transform: translateX(50%);
		}
	}
	#slide-escape{
		p{
			color: $white;
		}
	}
}
@media screen and (min-width: 960px){
	.slide-text-container{
		h1{
			font-size: 45px;
			max-width: 450px;
		}
	}
	#slide-vizio{
		p{
			max-width: 450px;
		}
	}
	#slide-escape{
		h1{
			max-width: 470px;
		}
	}
	#slide-ultra{
		h1{
			max-width: 490px;
		}
	}
}
@media screen and (min-width: 1280px){
	.slide-text-container{
		.slide-text{
			top: 25%;
		}
	}
}

//envoy blurb styles
.envoy{
	@include outer-container;
	font-size: 26px;
	font-weight: 700;
	color: $white;
	margin-top: 25px;

	hr{
		border: 2px solid $gray-border;
		margin-top: 33px;
	}
}

//content sections
.content-section{
	@include outer-container;

	.header{
		border-bottom: 1px solid $gray-border;
		padding-top: 40px;
		padding-bottom: 20px;
		margin-bottom: 20px;

		h1{
			font-weight: 700;
			color: $gray;
			font-size: 22px;
			display: inline-block;
			margin-right: 10px;
		}

		a{
			font-weight: 700;
		}
	}

	.content{
		article{
			@include span-columns(12);
			font-weight: 700;
			color: $gray;
			padding-bottom: 15px;
			border-bottom: 1px dashed $gray;
			margin-bottom: 25px;

			.image{
				margin-bottom: 20px;

				img{
					width: 100%;
				}
			}
			
			h2{
				color: $white;
				font-size: 18px;

				.sub-title{
					color: $blue-light;
				}
			}

			p{
				margin: 5px 0;
			}
		}
	}
}

.wire{
	.content{
		article{
			h2{
				font-size: 26px;
			}
		}
	}
}

@media screen and (min-width: 767px){
	.envoy{
		font-size: 36px;
	}

	.content-section{
		.header{
			padding-top: 70px;
		}
		.content{
			article{
				@include span-columns(4);
				border-bottom: none;
			}
		}
	}
}
@media screen and (min-width: 960px){
	.wire{
		.content{
			article{
				h2{
					font-size: 33px;
				}
			}
		}
	}
}